h1{
    color:honeydew
}
.background-image{
    /* text-align: center; */
    /* background:linear-gradient(rgba(3, 5, 14, 0.493),rgba(9, 105, 231, 0.973)), url('detail.jpg'); */
    background:linear-gradient(rgba(4, 2, 7, 0.89),rgba(0, 0, 50, 0.596)), url("/assets/enq1.jpg");
    background-repeat: no-repeat;
    background-size:100% 500%;
    background-position:initial;
}

.content-table{
 /* border-collapse:collapse ;    */

margin: 25px 0;
font-size: 20px;
width:100%;
/* min-width: 700px;
max-width: 800px;  */
min-height: 100px;
border-radius: 5px 5px;
overflow: hidden;
box-shadow: 0 0 20px rgb(202, 196, 196);
/* margin-left: 420px;
margin-top: 30px; */

}

.content-table thead tr{
    background-color: rgb(19, 51, 155);
    color: white;
    font-weight:bold;
    text-align: center;
    margin: auto;
}
.content-table thead td{
     padding: 14px 15px; 
    
  
}
.content-table tbody td{
    border-bottom: 1px solid gray;
    padding: 5px;
    
 

}

/* .content-table tbody tr:nth-of-type(even){
    background-color: rgb(195, 196, 195);
} */

.content-table tbody tr{
    font-weight: bold;
    color:rgb(19, 51, 155) ;
    background-color: honeydew;
    margin: auto;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid rgb(19, 51, 155);
}
